asgiref==3.4.1
beautifulsoup4==4.11.1
bs4==0.0.1
certifi==2022.6.15
chardet==5.0.0
charset-normalizer==2.0.12
Django==3.2.13
html5-parser==0.4.10
html5lib==1.1
idna==3.3
lxml==4.9.0
pytz==2022.1
requests==2.27.1
six==1.16.0
soupsieve==2.3.2.post1
sqlparse==0.4.2
typing_extensions==4.1.1
urllib3==1.26.9
webencodings==0.5.1
